<style>
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    li {
        display: inline;
        padding: 5px;
    }
</style>
<ul>
    <li><a href='/' >Home</a></li>
    <li><a href='/post' >Post's</a></li>
    <% if(!currentUser){ %>
        <li><a href='/register'>Register</a></li>
        <li><a href='/login' >LogIn</a></li>   
    <% } else { %>
        <li><a href='/post/new' >New Post</a></li>
        <li><a href='/logout' >LogOut</a></li>
        Welcome , <%= currentUser.username %> ! 
    <% }  %>
</ul>