<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>layout wrks : bolierplate</h1>
      <%-body -%> <!--Place where  view will be render or added inside layout-->
  </body>
</html>