<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include ../partials/navbar %>
      <%-body -%> <!--Place where  view will be render or added inside layout-->
  </body>
</html>